# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
 Nicolas Zemel

**Objectives**
- List popular languages for Data Science
- Learn to publish on GitHub
- Learn to make a neat notebook

# Some of the popular languages that Data Scientists use are:
1) R
2) Python
3) SQL

| Month    | Savings | XXXX  |

| -------- | ------- |-------|   |

| Data Science Tool            |
| :---------------- |
| pandas   | 
| dpylr        |
| numpy |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335